<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net451" />
  <package id="Autofac.Owin" version="3.1.0" targetFramework="net451" />
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net451" />
  <package id="Autofac.WebApi2.Owin" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.0.26" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource" version="1.0.26" targetFramework="net451" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Jwt" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="System.IdentityModel.Tokens.Jwt" version="1.0.0" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.Owin" version="2.1.1" targetFramework="net451" />
</packages>